/* App.css */
/* Header --------------------------------------------------------------------------------- */

/* .custom-dark-blue {
  background-color: #001f3f; 
  color: #ffffff; 
}

.navbar-nav .nav-link { 
  text-transform: none; 
} */
 
/* Dashboard --------------------------------------------------------------------------------- */

.sidebar-content .sidebar-link  {
  text-transform: none;

}

.link {
  color: #ebca12; 

}

.sidebar-link {
  border: none; /* Remove the border */
  text-align: left; /* Align text to the left within the button */
  width: 100%; /* Make the button take the full width */
  padding: 10px; /* Add some padding for better spacing */
  background-color: transparent; /* Remove the button background color */
  color: #000; /* Set the text color to your preferred color */
  text-decoration: none; /* Remove underlines or other decorations */
  display: block; /* Ensure the button takes the full width as a block element */
  transition: background-color 0.3s; 
  min-width: 100px; 
  max-width: 150px;
}

.main-content {
  /* width: 100%; */
  min-width: 150px;
}

.main-section {
  /* width: 100%; */
  min-width: 350px;
}

.sidebar-link:hover {
  background-color: #f0f0f0; /* Add a background color on hover */
}

/* Style the active link */
.active-link {
  background-color: green; 
  /* background-color: #007bff;  */
  color: #fff; /* Active link text color */
}

.sidebar-content {
  height: auto;
  overflow-y: hidden; 
  transition: overflow-y 0.3s; 

}

.sidebar:hover .sidebar-content {
  overflow-y: auto; 
}

/* --------------------------------------------------------------------------------- */

.sidebar {
  /* ... (existing styles) */

  &.open {
    .sidebar-toggle-button {
      transform: translateX(-100%); 
    }

    .sidebar-content {
      overflow-y: auto;
      width: 100%; /* Show the full sidebar content when open */
      transition: width 0.3s;
    }
  }

  .sidebar-toggle-button {
    /* ... (existing styles) */
    transition: transform 0.3s;
  }

  .sidebar-content {
    /* ... (existing styles) */
    transition: width 0.3s, overflow-y 0.3s; /* Add transition for width */
  }
}


/* footer --------------------------------------------------------------------------------- */

body,
html {
  height: 100%;
}

/* .container-fliud {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
} */

.Container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

main {
  flex: 1;
  min-height: 80vh;
}

.App {
  text-align: center;
  text-transform: none;
}


.msg-counter {
  /* position: absolute; */
  top: 8px;
  right: 8px;
  background-color: red; 
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* --------------------------------------------------------------------------------- */


.warning-icon {
  color: yellow; 
}


.testing {
  color: #520712; 
}
